/*--------------------------------------------------------------------------------------//
//                                     Footer Code                                      //
//--------------------------------------------------------------------------------------*/

/* Note: 'display: flex' allows the use of properties like 'justify-content' and 'align-items',
    which makes aligning items much easier :) */

footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Align left and right content */
    background-color: #333; 
    color: white;
    padding: 12px; 
    width: 100%;        
    font-size: var(--small-font-size); /* Dynamic font size */
}

footer p {
    line-height: 1.3;
    margin: 0; /* Remove default margin */
}

.footer__powered-by {
    text-align: center; /* Center the text */
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer__right p, .footer__right a { 
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 0;
}

.footer__right img {
    width: 11px;
    height: 9px;
    margin-top: 0px;
    margin-right: 4px;
}

.container-link-and-logo {
    display: flex;
    flex-direction: row;
}
