ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

li {
    display:inline;
    float:right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #2B6D25;
}

.active {
    background-color: #357d2e;
}

li.dropdown {
    display: inline-block;
}

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B6D25;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #276622;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button{
    float: right; 
    background-color:#276622; 
    color: white; 
    border-style: solid;
    border-color: white;
    font: 16px;
}

button:hover {
    background-color:dimgray;
}

header {
    background-color: #276622;
    color: #fff;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

img {
    display: flex;
    width: 220px;
    height: auto;
}

a {
    color: white;
}

.sameLine {
    display: inline-block;
    margin: 0;
}