/* Change Language Button */
.change-language-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.login-button {
    position: absolute;
    top: 5px;
    right: 75px;
}


/* Container for the entire navigation bar. */
ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    text-align: right;
    font-size: var(--med-font-size);
}

/* Individual link for the navigation bar */
li {
    display: inline;
}

/* Navigation link, including the dropdown list. */
li a, .dropbtn {
    display: inline-block;
    color: #276622;
    text-align: left;
    padding: clamp(0px, 1vw, 10px); /* Dynamic gap between links */
    text-decoration: none;
    border-style: solid;
    border-width: medium;
    border-color: white;
}

/* Hover: Change color of navigation link */
li a:hover, .dropdown:hover .dropbtn {
    border-style: solid;
    border-width: medium;
    border-color: #276622;
    background-color: #276622;
    color: white;
}

/* Hover: Change color of dropdown list */
.active {
    border-color: #276622;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.dropdown-content a {
    color: #276622;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: clamp(0px, 1vw, 10px); /* Dynamic gap between links */
}

.dropdown-content a:hover {
    border-color: #276622;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
    float: right;
    background-color: #276622;
    color: white;
    border-style: solid;
    border-width: medium;
    border-color: #276622;
    
}

button:hover {
    background-color: dimgray;
}

header {
    background-color: white;
    color: #1b1760;
    padding: 20px;
    margin: 10px 10px 0 10px;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

header img {
    display: flex;
    width: 220px;
    height: auto;
}

a {
    color: white;
}

.sameLine {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: var(--app-title-font-size);
}

.church-title {
    
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    background: linear-gradient(to top, #276622 1%, #55c24d 99%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.church-logo {
    padding: 20px;
    display: inline-block;
    transition: transform 0.1s ease;
}

.church-logo img {
    width: 40px;
    height: auto;

}

.church-logo:hover {
    transform: scale(1.02);
    opacity: 0.8;
}

/* Conditional Div: Only display if admin is logged in */
.admin-section {
    display: flex;
    flex-direction: row;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3px;
    padding-left: 5px;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    background-color: darkblue;
    color: white;
}

/* Conditional Image: Only display if user is logged in */
.admin-star {
    height: 17px;
    width: 14px;
    margin-left: 5px;
}

