.carouselContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20%;
    min-width: 300px;
    margin: 0 auto;
}

.announcementCarousal {
    display: flex;
    transition: transform 1s ease;
}

.announcement {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%; 
    padding: 20px;
    text-align: center;
    transition: visibility 0s, opacity 0.5s linear;
}

.announcementContent {
    width: 80%;
    margin: 0 auto;
    border: 4px solid black;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px #0000004d;
}

.carousalControls {
    text-align: center;
    margin-bottom: 20px;
}

.carousalControls button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousalControls button:hover {
    background-color: #333399;
}

.announcement:nth-child(1) .announcementContent, 
.announcement:nth-child(2) .announcementContent, 
.announcement:nth-child(3) .announcementContent {
    border: 4px solid #276622; /* Green border */
    background-color: rgba(230, 255, 230, 0.5); /* Background color */
}
