.carouselContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 300px;
    margin: 0 auto;
}

.announcementCarousal {
    display: flex;
    transition: transform 1s ease;
}

.announcement {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%; 
    height: 350px;
    padding: 20px;
    text-align: center;
    transition: visibility 0s, opacity 0.5s linear;
}

.announcementContent {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px #0000004d;
}

.carousalControls {
    text-align: center;
    margin-bottom: 20px;
}

.carousalControls button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #145a32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousalControls button:hover {
    background-color: #208e50;
}


