/* Center the events and allow them to wrap to the next line */
.eventsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.event {
  width: 300px;
  border: 4px solid #537802;
  background-color: #e6ffe6;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #e6ffe6, #ccffcc);
  margin-bottom: 20px;
}

.event:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.events-header {
  margin-top: clamp(0px, 1vw, 10px);
}

.event h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.events-main p {
  font-size: var(-small-font-size);
}
