.schedule-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.schedule-box {
  width: 30%;
}

.schedule-box2 {
  width: 30%;
}

.schedule-content {
  display: block;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: 10px solid #537802;
  background-color: #e6ffe6;
  margin-right: 10px;
}

.schedule-img1 {
  padding: 10px;
  width: auto;
  height: 210px;
  object-fit: contain;
  margin-bottom: 5px;
  margin-top: 5px;
}

.schedule-img2 {
  padding: 10px;
  width: 320px;
  height: 210px;
  object-fit: contain;
  margin-bottom: 5px;
  margin-top: 5px;
}
