:root {
  /* Dynamic variables to be reused across all files */
  /* Notes: 
    - 'Clamp' is a CSS function that takes three parameters: min size, size, max size
    - Rem is used over px as it scales with custom font changes in browser, like Chrome settings
    - Calc is used to easily see what the px equivalent is. Ex) 'calc(10rem/16)' = 10 px */
  --app-title-font-size: clamp(calc(16rem/16), 4.5vw, calc(30rem/16));
  --very-large-font-size: clamp(calc(16rem/16), 4vw, calc(30rem/16));
  --large-font-size: clamp(calc(15rem/16), 3vw, calc(25rem/16));
  --small-font-size: clamp(calc(10rem/16), 1vw, calc(12rem/16)); 
  --med-font-size: clamp(calc(14rem/16), 2.7vw, calc(20rem/16)); 
  --button-font-size: clamp(calc(10rem/16), 1.5vw, calc(15rem/16)); 
}

#root {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

main {
  flex-grow: 1;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
